<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    
    RewriteCond %{HTTP:Custom -auth} ^(.*)
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%1]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    #the urls that should be checked
#    RewriteCond %{REQUEST_URI} ^(openapi/?$).*$
#    RewriteCond %{REMOTE_ADDR} !=162.158.165.37
    # or this ip
#    RewriteCond %{REMOTE_ADDR} !=128.199.170.165
    # if not fail
#    RewriteRule ^.*$ / [F]
</IfModule>
